/*This is our global css file.*/
@font-face /*Gochihand Font (For Logo Only)*/
{
    font-family: 'gochihand';
    src: url(../fonts/gochihand/GochiHand-Regular.ttf);  
    font-weight: normal;
    font-style: normal;
}
@font-face /*Caveat Font (Use only for accents and highlights)*/
{
    font-family: 'caveat';
    src: url(../fonts/Caveat/Caveat-Regular.ttf);  
    font-weight: normal;
    font-style: italic;
}
@font-face /*Montserrat (Use only for body text)*/
{
    font-family: 'montserrat';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face /*Playfair Display Font (Use only for headings)*/
{
    font-family: 'playfair display';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf);
    font-weight: 900;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'montserrat';
}
img{
    max-width: 100%;
    height: auto;
}
/*Navbar Section(SAGUINSIN)*/
.navigation .menu-toggle{
    display: none;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 1em;
    font-size: 24px;
    cursor: pointer;
    color: #306f91;
}

.navigation{
    width: 100%;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgb(255, 255, 255), transparent 100px);
    align-items: center;
    z-index: 1000;
}
.navigation .logo{
    display: flex;
    flex-direction: row;
    width: auto;
    color: #306f91;
    font-family: 'gochihand';
    font-size: 2em;
    word-spacing: 5px;
    font-weight: bold;
    text-decoration: none;
}
.navigation .nav-links{
    font-family: 'montserrat';
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    gap: 1.5rem;
    transition: all 0.3s ease;
}

.navigation .nav-links a {
    position: relative; /* IMPORTANT */
    text-decoration: none;
    color: #306f91;
    font-size: 1rem;
    padding: 0.5rem 0;
}
.navigation .nav-links a::after {
    content: "|";
    margin-left: 1rem;
    color: #306f91;
}
.navigation .nav-links a:last-child::after {
    content: "";
}
.navigation .nav-links a::before {
    content: '';
    position: absolute;
    background: #306f91;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.navigation .nav-links a:hover::before {
    width: 100%;
}
.navigation .nav-links a:hover{
transform: scale(1.1);
}
@media screen and (max-width: 900px){
    .navigation{
        padding: 0;
    }
    .navigation .logo{
        position: absolute;
        padding: 1rem;
    }
    .navigation .menu-toggle{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
    }
    .nav-links.active{
        max-height: 500px;
        padding: 20px 0;
    }
    .nav-links a{  
        position: relative;
        padding: 15px;
        width: 100%;
        font-weight: bolder;
        text-align: center;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}